<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TiendaPersonalizada</title>

    <!-- Referencias a CSS del template -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/prettyPhoto.css" rel="stylesheet" />
    <link href="~/css/price-range.css" rel="stylesheet" />
    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/responsive.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/images/ico/favicon.ico" />
</head>
<body>
    <header id="header">
        <!-- Top Header -->
        <div class="header_top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li><a href="#"><i class="fa fa-phone"></i> +34 648 27 69 02</a></li>
                                <li><a href="mailto:escarpaprieto@gmail.com"><i class="fa fa-envelope"></i> Mail.</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Middle Header -->
        <div class="header-middle">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo pull-left">
                            <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/home/logo.png" alt="Logo" /></a>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="#"><i class="fa fa-user"></i> Account</a></li>
                                <li><a href="#"><i class="fa fa-star"></i> Wishlist</a></li>
                                <li><a asp-area="" asp-controller="Checkout" asp-action="Index"><i class="fa fa-crosshairs"></i> Checkout</a></li>
                                <li><a asp-area="" asp-controller="Cart" asp-action="Index"><i class="fa fa-shopping-cart"></i> Cart</a></li>
                                <li><a asp-area="" asp-controller="Account" asp-action="Login"><i class="fa fa-lock"></i> Login</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bottom Header -->
        <div class="header-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="mainmenu pull-left">
                            <ul class="nav navbar-nav">
                                <li class="@(ViewContext.RouteData.Values["controller"]?.ToString() == "Home" ? "active" : "")">
                                    <a asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="@(ViewContext.RouteData.Values["controller"]?.ToString() == "Shop" ? "active" : "")">
                                    <a asp-controller="Shop" asp-action="Index">Shop</a>
                                </li>
                                <li class="@(ViewContext.RouteData.Values["controller"]?.ToString() == "Blog" ? "active" : "")">
                                    <a asp-controller="Blog" asp-action="Index">Blog</a>
                                </li>
                                <li class="@(ViewContext.RouteData.Values["controller"]?.ToString() == "Contact" ? "active" : "")">
                                    <a asp-controller="Contact" asp-action="Index">Contact</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="search_box pull-right">
                            <input type="text" placeholder="Search" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="companyinfo">
                            <h2><span>e</span>-shopper</h2>
                            <p>Ropa personalizada al mejor precio.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <<div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <p class="pull-left">Copyright © @DateTime.Now.Year TiendaPersonalizada. All rights reserved.</p>
                    <p class="pull-right">Contact us: <a href="mailto:escarpaprieto@gmail.com">Mail.</a></p>

                </div>
            </div>
        </div>

    </footer>

    <!-- Referencias JS del template -->
    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.scrollUp.min.js"></script>
    <script src="~/js/price-range.js"></script>
    <script src="~/js/jquery.prettyPhoto.js"></script>
    <script src="~/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
